<ion-header>
  <ion-navbar>
    <ion-title>
      App ToDo
    </ion-title>
    <ion-buttons end>
      <button (click)="reordena()" ion-button *ngIf="!activado">Mover</button>
      <button (click)="reordena()" ion-button  *ngIf="activado"> Fin</button>
      <button ion-button (click)="abrirAlerta()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="activado" (ionItemReorder)="elementoReordenado($event)">
    <ion-item-sliding *ngFor="let tarea of tareas; let tareaIndex = index">
      
        <ion-item-options side="left">
            <button color="danger" ion-button (click)="editarTarea(tareaIndex)">
              <ion-icon name="create"></ion-icon>
            </button>
    
          </ion-item-options>


      <ion-item>{{tarea}}</ion-item>
      <ion-item-options side="right">
        <button color="danger" ion-button (click)="alamacenarTarea(tareaIndex)">
          <ion-icon name="trash"></ion-icon>
        </button>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
  <ion-fab left bottom>

    <button ion-fab (click)="irAalmacen()">
      <ion-icon name="archive"></ion-icon>
    </button>
  </ion-fab>

</ion-content>